@charset "utf-8";
/* @import url(normalize.css);
@import url(fonts.css); */

html {
  font-size: 5px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circler {
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  margin: 0.8rem;
}

heading {
  width: 100vw;
  color: #dddddd;
  background-color: rgb(48, 14, 68);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

.wht {
  text-align: center;
}

content {
  background-color: black;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  position: relative;
  color: white;
}

content > div {
  font-size: 3rem;
  margin-bottom: 20px;
}

.bnw {
  height: 50px;
  width: 200px;
  font-size: 3rem;
  background-color: #dddddd;
  color: #111111;
  position: absolute;
  top: 50px;
  left: 100px;
  text-align: center;
  line-height: 25px;
  border-radius: 20px;
  border-style: solid;
  border-color: #111111;
  border-width: 10px;
}

.circle_con {
  margin-top: 12rem;
  display: flex;
  flex-wrap: wrap;
  width:  38vh;
  justify-content: space-around;
  align-content: space-around;
}

.modal_right {
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  /* display: none; */
  height: 1vh;
  width: 1vw;
}

.modal_wrong {
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  /* display: none; */
  height: 1vh;
  width: 1vw;

}

.show {
  font-size: 7rem;
  text-shadow:  0.1rem 0.1rem #dddddd, 
                -0.1rem -0.1rem #dddddd, 
                -0.1rem 0.1rem #dddddd, 
                0.1rem -0.1rem #dddddd;
  transform: scaleX(100vw), scaleY(100vh);
  visibility: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  transition: 100ms;
}

.show div {
  padding: 50px;
  }

  .try,.next {
    background-color: #dddddd;
    border-radius : 50px;
    border-color: #111111;
    border-style: solid;
    border-width: 15px;
    text-align: center;
  }

  footer {
    height: 5vh;
    width: 100vw;
    background-color: rgb(48, 14, 68);
  }